.previewer {
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    color:#281d4c;
}

.previewer div {
    margin-bottom: 20px;
}

.previewer .rendered-template {
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    white-space: pre;
}