.previewer {
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    color:#281d4c;
}

.previewer div {
    margin-bottom: 20px;
}

.previewer textarea {
    width: 90%;
    padding: 20px;
    height: 400px;
    border: 1px solid #e2e2cd;
    background-color: #f3f3ed;
    font-size: 16px;
}