.App {
  font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.App h1 {
  text-align: left;
  width: 520px;
  margin: 20px auto 40px auto;
  color: #d8276c;
  border-bottom: 2px solid #d8276c;
  padding-bottom: 5px;
}

